.userprofile{
    background-color: black;
    color: white;
    min-height: 100vh;
}
#userprofileimage
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid turquoise;
    position: relative;
    object-position: center;
}

.online
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    margin-top: 4.5em;
    margin-left: 4.3em;
    border: 2px solid white;
}