{% extends "master.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
{% endblock css %}

{% block content %}
{% include "navbar.html" %}
<div class="container-fluid userprofile px-4">
  <div class="row">
    <div class= "col-md-3 col-12 mt-3">
      {% include "topics_component.html" %}
    </div>
  
    <div class="col-md-6 col-12 mt-3 px-lg-0 px-5">
     <div  class="d-flex flex-column col-md-10 col-12 align-items-center">
      {% if user.userImage %}
          <img src="{{user.userImage.url}}" alt="userpic" id="userprofileimage" class=" img-fluid me-2">
      {% else %}
          <img src="{% static 'userRandomPhoto/1.ico' %}" alt="userpic" id="userprofileimage" class=" img-fluid me-2">
      {% endif %}
      <div class="online"></div>
      <span class="h5 mt-3">@{{user.user}}</span>
     </div>
  
     <div class="about mt-3">
      <p class="fw-bold text-dark">ABOUT</p>
      <p class="h5">{{rooms.all.count}} Rooms available</p>
      <h4 class="mt-4 text-dark">STUDY ROOM CREATED BY {{user.user|upper}} </h4>
     </div>
  
     <div>
      {% for room in rooms %}
      {% if request.user == room.host.user %}
          <a href="{% url "update_room" room.id %}" class="btn btn-primary mb-3">Edit</a>
          <a href="{% url "delete_room" room.id %}" class="btn btn-danger float-end mb-3">Delete</a>
      {% endif %}
        <div class="col-12 p-2 ps-4 bg-dark text-secondary mb-3">
          <header class="col-12 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center col-5">
              {% comment %} <img src="{{room.host.userImage.url}}" alt="" id="userimage" class="img-rounded">
              {% if room.host.user == request.user %}<div class="onlinecircle"></div>{% endif %} {% endcomment %}
          
            <a href="{% url 'user_profile' room.host.id %}" class="text-decoration-none text-secondary py-3"><span class="mx-1">Host</span> @{{room.host.user.username}}</a>
            </div>
              <div class="d-flex justify-content-around col-4">
              <small>{{room.created|timesince}} ago</small>
              </div>  
          </header>
  
        <section class="col-12">
          <h5><a href="/room/{{room.id}}" class="text-decoration-none text-white">{{room.name}}</a></h4>
            
           <div class="col-12 d-flex flex-wrap">
            {% for participant in room.participants.all %}
            {% if pariticipant.id is not room.host.id %}
            <div class="me-2 p-1">
              {% comment %} <img src="{{participant.userImage.url}}" alt="" id="userimage" class="img-rounded"> {% endcomment %}
            </div>
              
            {% endif %}
            {% endfor %}  
          </div> 
          <hr>
        </section>
       
          <footer class="d-flex justify-content-between col-12 align-items-center px-3">
            <div class="d-flex justify-content-between px-2 col-3">
              <p><i class="fa fa-user"></i> {{room.participants.all.count}} Joined</p>
            </div>
            <a href="{% url "home" %}?q={{room.topic}}" class="me-2 btn" id="topic_name">{{room.topic.name}}</a>
          </footer>
       
       
      </div>
      {% endfor %}
    </div>
   
    </div>
    
    <div class=" mt-3 col-md-3 col-12">
      {% include "activity_component.html" %}
    </div>
  </div>
  
    
  </div>


{% endblock content %}